@tailwind base;

@layer base {
  h1, h2 {
    @apply text-2xl font-bold font-ubuntumono text-highlight;
  }
	h3 {
		@apply text-lg text-highlight font-bold;
	}
	h4 {
		@apply text-highlight mt-4;
	}
}

@tailwind components;
@tailwind utilities;

:root {
	--color-dark: 10 25 47;
  --color-light: 255 229 204;
	--color-highlight: 250 176 5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
	margin: 0 auto;
	max-width: 1240px;
  color: rgb(var(--color-light));
	background-color: rgb(var(--color-dark));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* h1, h2 {
	font-family: "Ubuntu Mono";
	font-weight: bold;
	font-size: 1.25rem;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @keyframes wiggle {
	0% { transform: rotate(-0.5deg) },
  50% { transform: rotate(0.5deg) },
	100% { transform: rotate(-0.5deg) }
} */

.frametl {
	clip-path: polygon(0 0, 100% 0, 35% 100%, 0 100%);
	width: 400px;
	height: 182px;
	transition: transform 0.4s;
	transform-origin: top;
	transform-style: preserve-3d;
}

/* .frametl:hover {
	animation: wiggle 0.5s ease-in-out infinite
} */

.frametl:hover {
	transform: rotateX(90deg);
	transform-origin: top;
}

.framebl {
	clip-path: polygon(0 100%, 100% 100%, 35% 0, 0 0);
	width: 400px;
	height: 182px;
	transition: transform 0.4s;
	transform-origin: bottom;
	transform-style: preserve-3d;
}
.framebl:hover {
	transform: rotateX(90deg);
	transform-origin: bottom;
}

.framer {
	clip-path: polygon(100% 0, 0% 50%, 100% 100%);
	width: 250px;
	height: 350px;
	transition: transform 0.4s;
	transform-origin: right;
	transform-style: preserve-3d;
}
.framer:hover {
	transform: rotateY(90deg);
	transform-origin: right;
	
}
/* flip animation */
